* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cont{
    display: flex;
    justify-content: center;
}
body, html {
    height: 100%;
    overflow: hidden;
}

.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.img {
  position: relative;
  /* width: 270px;
  height: 550px; */
  width: 100vw;
  height: 100vh;
  border-radius: 10px;
  overflow: hidden;
  background-image: url('back.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 15px 15px 11px rgba(0, 0, 0, 0.25);
}

.clouds img {
    width: 50%;
    height: 50%;
  display: block;
  filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.7));
  border-radius: 10px; 
  position: abolute; 
}
.cloud1{
    position: absolute;
    top: -5%;
    right: -55%;
}
.cloud2{
    /* width: 10vw; */
    height: auto;
    position: absolute;
    left: -35%;
    top: 10%;
    transform: scale(.7);
}
.cloud3{
    /* width: 50px; */
    height: auto;
    position: absolute;
    right: -85%;
    top: 15%;
    transform: scale(.7);
}
.cloud4{
    /* width: 10vw; */
    height: auto;
    position: absolute;
    bottom: 45%;
    left: -10%;
}

.weatherSec{
    /* width: 40vw;
    height: 35vh; */
    /* width: 270px;
    height: 250px; */
    width: 100%;
    height: 45%;
    background-color: rgba(0, 0, 0, 0.205);
    backdrop-filter: blur(3px);
    /* padding: 20px; */
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    justify-content: space-between;
    /* gap: 5px; */
    /* padding: 10px; */
    border: .1px solid rgba(255, 255, 255, 0.2);
    
}
.tempBlock{
    position: relative;
    top: 25%;
    height: 40%;
    width: 15%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 30px;
    backdrop-filter: blur();
    border: .1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.ellipse{
    box-sizing: border-box;
    position: absolute;
    width: 90px;
    height: 6.3vh;
    left: 180px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 430 218'><path d='M489.335 7.20508C523.473 1.16103 551.312 -1.83571 570.604 2.66895C580.232 4.91708 587.688 9.02415 592.742 15.5166C597.798 22.0108 600.5 30.9532 600.5 42.9639C600.5 91.0009 560.605 134.633 495.778 166.284C430.985 197.919 341.438 217.5 242.5 217.5C143.562 217.5 54.0154 197.919 -10.7783 166.284C-75.6055 134.633 -115.5 91.0009 -115.5 42.9639C-115.5 30.9381 -113.213 21.9847 -108.881 15.4873C-104.555 9.00052 -98.1534 4.9063 -89.8066 2.66504C-81.4479 0.420591 -71.1529 0.0393778 -59.084 0.981445C-47.019 1.92322 -33.2126 4.18444 -17.8438 7.2041C43.6116 19.2789 129.939 43.4639 229 43.4639C328.055 43.4639 421.134 19.2798 489.335 7.20508Z' fill='%236148A8' fill-opacity='0.52'/></svg>");
    top: 105%;
    transform: scale(9);
    
}
/* .button {
    box-sizing: border-box;
    position: absolute;
    width: 5px;
    height: 5px;
    top: 22%;
    left: 50%;
    background: rgba(208, 162, 243, 0.31);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.plus {
    position: relative;
    width: 1px;
    height: 7px;
    background-color: rgba(0, 0, 0, 0.733);
    border-radius: 3px;
    transform: scale(.3);
    
}
.plus::before {
    content: "";
    position: absolute;
    top: 3px;
    left: -3px;
    width: 7px;
    height: 1px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.733);
} */
.wSecCl{
    background: url(wSecCloud.svg);
    width: 44px;
    height: 42px;
    transform: scale(.9);
}
.blockTime{
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: white;
    font-family: "Inter", sans-serif;
    transform: scale(.9);
}
.tempBlockTemperature{
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: white;
    font-family: "Inter", sans-serif;
}
.show{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 100px;
    gap: 5px;
}
.place{
    font-weight: 250;
    font-size: 25px;
    line-height: 16px;
    color: white;
    font-family: "Inter", sans-serif;
    margin: 10px;
    letter-spacing: 1px;
}
.showTemp{
    font-weight: 200;
    font-size: 50px;
    line-height: 16px;
    color: white;
    font-family: "Inter", sans-serif;
    margin: 10px;
}
.info{
    font-size: 10px;
    line-height: 16px;
    color: white;
    font-family: "Inter", sans-serif;
    opacity: .7;
}
.coordinates{
    font-size: 11px;
    line-height: 16px;
    color: white;
    font-family: "Inter", sans-serif;
    margin: -6px;
}
.search-city{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -50px;
}
.input{
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(2px);
    border: none;
    border: 1px  solid rgb(160, 156, 156);
    border-radius: 20px;
    padding-left: 5px;
    outline: none;
    font-weight: 400;
    /* transition: .25s border; */
    color: white;
}
.input ::placeholder{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: white;
}
/* .input:focus{
    border: 1px solid rgb(160, 156, 156);
} */
.input:hover{
    border: 1px solid rgb(56, 99, 180);
}
.search-btn{
    background: transparent;
    border: none;
    position: relative;
    right: 30px;
    transition: transform 0.2s ease;
}
.search-btn:hover {
  transform: scale(1.1); 
}
.tempBlock:hover{
    background-color: blueviolet;
    transform: scale(1.1);
    transition: .5s background-color;
    transition: .4s transform;
}
.material-symbols-outlined{
    color: rgba(255, 255, 255, 0.322);
}
@media(min-width : 487px){
    .img{
        width: 487px;
        height: 100vh;
    }
     .cover{
        width: 487px;
     }
}